# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.h5
*.csv
*.xlsx
*.env
*.log

# Sanal ortam
.venv/
env/
venv/

# Notebook checkpoint
.ipynb_checkpoints/

# =====================
# Flutter / Dart
# =====================
.dart_tool/
.packages
.pub-cache/
build/
pubspec.lock

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/google-services.json

# iOS
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/*.xcuserstate

# MacOS
**/macos/Flutter/ephemeral/
**/macos/Pods/

# Windows
**/windows/Flutter/ephemeral/

# Linux
**/linux/Flutter/ephemeral/

# Web
**/web/.dart_tool/

# VSCode / IDE
.vscode/
.idea/
*.iml
